body{
  background-image: url("fondo1.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}
.organizacion span{
  color:rgba(23, 26, 201, 0.863);
  text-decoration-line: overline;
  font-size: 18px;
  padding-left: 300px;
}
.organizacion span:hover{
  color: red;
}
.archivo{
  margin: 20px;
}
.archivo a{
  padding-top: 50px;
  font-family: 'Cormorant Garamond';
  font-size: 25px;
  margin-left: 45%;
}
.organizacion{
  margin: 40px;
  padding-left: 70px;
  padding-right: 70px;
}
.organizacion h1{
  color: #000;
  font-family: 'Cormorant Garamond';
  text-align: center;
}
.organizacion p{
  text-align: justify;
  font-size: 20px;
  font-family: 'Cormorant Garamond';
}
.organizacion img {
  width: 90%;
}
.a li{
    text-decoration: none;
	line-height: auto;
	text-align: center;
    display: inline;
    padding-left: 200px;
	color:#000;
}
.a a{
    padding-left: 200px;
    font-size: 20px;
}
.opcion-izquierda{
    width: 100%;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    color: #fff;
    height: 600px;
    display: none;
}
.opcion-izquierda a{
    font-size: 30px;
    padding-left: 15px;
}
.opcion-izquierda p{
	text-align: justify;
}
.opcion-izquierda:target{
    display: block;
}

br { 
    display: block; 
    line-height: 1.6em;
 } 
input, textarea { 
  -webkit-font-smoothing: antialiased;
  outline: none; 
}

strong, b { 
    font-weight: bold; 
}
em, i { 
    font-style: italic;
 }

h1 {
  display: block;
  font-size: 28px;
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
h2 {
  display: block;
  font-size: 23px;
  padding-left: 200px;
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
h3 {
  display: block;
  font-size: 20px;
  text-align: center;
  padding-left: 200px;
  font-family: 'Laila', serif;
  font-weight: bold;
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
form {
  display: block;
  margin: 20px;
  padding-top: 20px;
  overflow: hidden;
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  font-size: 0;
}
form > div > label {
  display: block;
  padding: 20px 20px 10px;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
}
form > div.switch > label {
  padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 { 
  border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
  height: 86px;
}
label > input {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 27px;
  line-height: 27px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  color: #555;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 14px;
  opacity: .6;
  transition: all linear .3s;
}

.col-submit {
  text-align: center;
  padding: 20px;
}
.col-submit a{
  text-decoration: none;
	line-height: auto;
	text-align: center;
	display: block;
	color:#fff;
}


@media(min-width: 850px){
  form > div { display: inline-block; }
  .col-submit { display: block; }
  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }
  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 25% }
  .col-submit button { width: 30%; margin: 0 auto; }
}
.citas-a {
    margin: 20px;
}
.citas-a li{
    text-decoration: none;
	line-height: auto;
    text-align: center;
    list-style: none; 
    padding-top: 45px;
}
.citas-a a{
    color: #000;
    font-family: 'Laila' serif;
}

#show,#hide {
	display:none;
}
div#content {
	display:none;
  padding:10px;
  width:100%;
  
}
input#show:checked ~ div#content {
	display:block;
}
input#hide:checked ~ div#content {
	display:none;
}
.titulo:hover{
  cursor:pointer;
  TEXT-DECORATION: underline;
}
.cerrar:hover{
  cursor:pointer;
  TEXT-DECORATION: underline; 
}
#showdireccion,#hidedireccion {
	display:none;
}
div#contentdireccion {
	display:none;
  padding:10px;
  width:100%;
  
}
#show1,#hide1 {
	display:none;
}
div#content1 {
	display:none;
  padding:10px;
  width:100%;
  
}
input#show1:checked ~ div#content1 {
	display:block;
}
input#hide1:checked ~ div#content1 {
	display:none;
}
.titulo:hover{
  cursor:pointer;
  TEXT-DECORATION: underline;
}
.cerrar:hover{
  cursor:pointer;
  TEXT-DECORATION: underline; 
}

#showdireccion,#hidedireccion {
	display:none;
}
div#contentdireccion {
	display:none;
  padding:10px;
  width:100%;
  
}
input#showdireccion:checked ~ div#contentdireccion {
	display:block;
}
input#hidedireccion:checked ~ div#contentdireccion {
	display:none;
}
.titulo:hover{
  cursor:pointer;
  TEXT-DECORATION: underline;
}
.cerrar:hover{
  cursor:pointer;
  TEXT-DECORATION: underline; 
}
#showorgaigramadeti,#hideorgaigramadeti {
	display:none;
}
div#contentorgaigramadeti {
	display:none;
  padding:10px;
  width:100%;
}
input#showorgaigramadeti:checked ~ div#contentorgaigramadeti {
	display:block;
}
input#hideorgaigramadeti:checked ~ div#contentorgaigramadeti {
	display:none;
}
#showpersoal,#hidepersoal {
	display:none;
}
div#contentpersoal {
	display:none;
  padding:10px;
  width:100%;
}
input#showpersoal:checked ~ div#contentpersoal {
	display:block;
}
input#hidepersoal:checked ~ div#contentpersoal {
	display:none;
}
#showpersoal1,#hidepersoal1 {
	display:none;
}
div#contentpersoal1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showpersoal1:checked ~ div#contentpersoal1 {
	display:block;
}
input#hidepersoal1:checked ~ div#contentpersoal1 {
	display:none;
}


//FuncionesTI
#showgestioinfortec,#hidegestioinfortec {
	display:none;
}
div#contentgestioinfortec {
	display:none;
  width:100%;
}
input#showgestioinfortec:checked ~ div#contentgestioinfortec {
	display:block;
}
input#hidegestioinfortec:checked ~ div#contentgestioinfortec{
	display:none;
}

#showsecretatia,#hidesecretatia {
	display:none;
}
div#contentsecretatia {
	display:none;
  padding:10px;
  width:100%;
}
input#showsecretatia:checked ~ div#contentsecretatia {
	display:block;
}
input#hidesecretatia:checked ~ div#contentsecretatia{
	display:none;
}

#showserviciosgenerales,#hideserviciosgenerales {
	display:none;
}
div#contentserviciosgenerales {
	display:none;
  padding:10px;
  width:100%;
}
input#showserviciosgenerales:checked ~ div#contentserviciosgenerales {
	display:block;
}
input#hideserviciosgenerales:checked ~ div#contentserviciosgenerales {
	display:none;
}

#showareainfraestructura,#hideareainfraestructura {
	display:none;
}
div#contentareainfraestructura {
	display:none;
  padding:10px;
  width:100%;
}
input#showareainfraestructura:checked ~ div#contentareainfraestructura {
	display:block;
}
input#hideareainfraestructura:checked ~ div#contentareainfraestructura {
	display:none;
}

#showadministracionredes,#hideadministracionredes {
	display:none;
}
div#contentadministracionredes {
	display:none;
  padding:10px;
  width:100%;
}
input#showadministracionredes:checked ~ div#contentadministracionredes {
	display:block;
}
input#hideadministracionredes:checked ~ div#contentadministracionredes {
	display:none;
}

#showadministracionservidores,#hideadministracionservidores{
	display:none;
}
div#contentadministracionservidores {
	display:none;
  padding:10px;
  width:100%;
}
input#showadministracionservidores:checked ~ div#contentadministracionservidores{
	display:block;
}
input#hideadministracionservidores:checked ~ div#contentadministracionservidores {
	display:none;
}

#showadminoperacionbd,#hideadminoperacionbd {
	display:none;
}
div#contentadminoperacionbd {
	display:none;
  padding:10px;
  width:100%;
}
input#showadminoperacionbd:checked ~ div#contentadminoperacionbd{
	display:block;
}
input#hideadminoperacionbd:checked ~ div#contentadminoperacionbd {
	display:none;
}

#showadminseguridad,#hideadminseguridad {
	display:none;
}
div#contentadminseguridad{
	display:none;
  padding:10px;
  width:100%;
}
input#showadminseguridad:checked ~ div#contentadminseguridad {
	display:block;
}
input#hideadminseguridad:checked ~ div#contentadminseguridad{
	display:none;
}

#showadminplataformas,#hideadminplataformas {
	display:none;
}
div#contentadminplataformas{
	display:none;
  padding:10px;
  width:100%;
}
input#showadminplataformas:checked ~ div#contentadminplataformas{
	display:block;
}
input#hideadminplataformas:checked ~ div#contentadminplataformas{
	display:none;
}

#showgestionenergetica,#hidegestionenergetica {
	display:none;
}
div#contentgestionenergetica{
	display:none;
  padding:10px;
  width:100%;
}
input#showgestionenergetica:checked ~ div#contentgestionenergetica {
	display:block;
}
input#hidegestionenergetica:checked ~ div#contentgestionenergetica{
	display:none;
}

#showareadesarrollopro,#hideareadesarrollopro {
	display:none;
}
div#contentareadesarrollopro{
	display:none;
  padding:10px;
  width:100%;
}
input#showareadesarrollopro:checked ~ div#contentareadesarrollopro{
	display:block;
}
input#hideareadesarrollopro:checked ~ div#contentareadesarrollopro{
	display:none;
}

#showdesarrolloappsmantenimiento,#hidedesarrolloappsmantenimiento {
	display:none;
}
div#contentdesarrolloappsmantenimiento{
	display:none;
  padding:10px;
  width:100%;
}
input#showdesarrolloappsmantenimiento:checked ~ div#contentdesarrolloappsmantenimiento{
	display:block;
}
input#hidedesarrolloappsmantenimiento:checked ~ div#contentdesarrolloappsmantenimiento{
	display:none;
}

#showdesarrolloprotecnologocicos,#hidedesarrolloprotecnologocicos{
	display:none;
}
div#contentdesarrolloprotecnologocicos {
	display:none;
  padding:10px;
  width:100%;
}
input#showdesarrolloprotecnologocicos:checked ~ div#contentdesarrolloprotecnologocicos {
	display:block;
}
input#hidedesarrolloprotecnologocicos:checked ~ div#contentdesarrolloprotecnologocicos{
	display:none;
}

#showpruebascalidad,#hidepruebascalidad {
	display:none;
}
div#contentpruebascalidad {
	display:none;
  padding:10px;
  width:100%;
}
input#showpruebascalidad:checked ~ div#contentpruebascalidad {
	display:block;
}
input#hidepruebascalidad:checked ~ div#contentpruebascalidad{
	display:none;
}

#showareasoporteusuario,#hideareasoporteusuario{
	display:none;
}
div#contentareasoporteusuario{
	display:none;
  padding:10px;
  width:100%;
}
input#showareasoporteusuario:checked ~ div#contentareasoporteusuario{
	display:block;
}
input#hideareasoporteusuario:checked ~ div#contentareasoporteusuario{
	display:none;
}

#showsoporteusuarios,#hidesoporteusuarios {
	display:none;
}
div#contentsoporteusuarios {
	display:none;
  padding:10px;
  width:100%;
}
input#showsoporteusuarios:checked ~ div#contentsoporteusuarios{
	display:block;
}
input#hidesoporteusuarios:checked ~ div#contentsoporteusuarios{
	display:none;
}

#showdespliegueserviciotecnologicos,#hidedespliegueserviciotecnologicos {
	display:none;
}
div#contentdespliegueserviciotecnologicos {
	display:none;
  padding:10px;
  width:100%;
}
input#showdespliegueserviciotecnologicos:checked ~ div#contentdespliegueserviciotecnologicos{
	display:block;
}
input#hidedespliegueserviciotecnologicos:checked ~ div#contentdespliegueserviciotecnologicos{
	display:none;
}

#showgestiontecnica,#hidegestiontecnica{
	display:none;
}
div#contentgestiontecnica{
	display:none;
  padding:10px;
  width:100%;
}
input#showgestiontecnica:checked ~ div#contentgestiontecnica{
	display:block;
}
input#hidegestiontecnica:checked ~ div#contentgestiontecnica{
	display:none;
}

// Perfiles TI 
#showgestioinfortec1,#hidegestioinfortec1 {
	display:none;
}
div#contentgestioinfortec1 {
	display:none;
  width:100%;
}
input#showgestioinfortec1:checked ~ div#contentgestioinfortec1 {
	display:block;
}
input#hidegestioinfortec1:checked ~ div#contentgestioinfortec1{
	display:none;
}

#showsecretatia1,#hidesecretatia1 {
	display:none;
}
div#contentsecretatia1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showsecretatia1:checked ~ div#contentsecretatia1 {
	display:block;
}
input#hidesecretatia1:checked ~ div#contentsecretatia1{
	display:none;
}

#showserviciosgenerales1,#hideserviciosgenerales1 {
	display:none;
}
div#contentserviciosgenerales1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showserviciosgenerales1:checked ~ div#contentserviciosgenerales1 {
	display:block;
}
input#hideserviciosgenerales1:checked ~ div#contentserviciosgenerales1 {
	display:none;
}

#showareainfraestructura1,#hideareainfraestructura1 {
	display:none;
}
div#contentareainfraestructura1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showareainfraestructura1:checked ~ div#contentareainfraestructura1 {
	display:block;
}
input#hideareainfraestructura1:checked ~ div#contentareainfraestructura1 {
	display:none;
}

#showadministracionredes1,#hideadministracionredes1 {
	display:none;
}
div#contentadministracionredes1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showadministracionredes1:checked ~ div#contentadministracionredes1 {
	display:block;
}
input#hideadministracionredes1:checked ~ div#contentadministracionredes1 {
	display:none;
}

#showadministracionservidores1,#hideadministracionservidores1{
	display:none;
}
div#contentadministracionservidores1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showadministracionservidores1:checked ~ div#contentadministracionservidores1{
	display:block;
}
input#hideadministracionservidores1:checked ~ div#contentadministracionservidores1 {
	display:none;
}

#showadminoperacionbd1,#hideadminoperacionbd1 {
	display:none;
}
div#contentadminoperacionbd1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showadminoperacionbd1:checked ~ div#contentadminoperacionbd1{
	display:block;
}
input#hideadminoperacionbd1:checked ~ div#contentadminoperacionbd1 {
	display:none;
}

#showadminseguridad1,#hideadminseguridad1 {
	display:none;
}
div#contentadminseguridad1{
	display:none;
  padding:10px;
  width:100%;
}
input#showadminseguridad1:checked ~ div#contentadminseguridad1 {
	display:block;
}
input#hideadminseguridad1:checked ~ div#contentadminseguridad1{
	display:none;
}

#showadminplataformas1,#hideadminplataformas1 {
	display:none;
}
div#contentadminplataformas1{
	display:none;
  padding:10px;
  width:100%;
}
input#showadminplataformas1:checked ~ div#contentadminplataformas1{
	display:block;
}
input#hideadminplataformas1:checked ~ div#contentadminplataformas1{
	display:none;
}

#showgestionenergetica1,#hidegestionenergetica1 {
	display:none;
}
div#contentgestionenergetica1{
	display:none;
  padding:10px;
  width:100%;
}
input#showgestionenergetica1:checked ~ div#contentgestionenergetica1 {
	display:block;
}
input#hidegestionenergetica1:checked ~ div#contentgestionenergetica1{
	display:none;
}

#showareadesarrollopro1,#hideareadesarrollopro1 {
	display:none;
}
div#contentareadesarrollopro1{
	display:none;
  padding:10px;
  width:100%;
}
input#showareadesarrollopro1:checked ~ div#contentareadesarrollopro1{
	display:block;
}
input#hideareadesarrollopro1:checked ~ div#contentareadesarrollopro1{
	display:none;
}

#showdesarrolloappsmantenimiento1,#hidedesarrolloappsmantenimiento1 {
	display:none;
}
div#contentdesarrolloappsmantenimiento1{
	display:none;
  padding:10px;
  width:100%;
}
input#showdesarrolloappsmantenimiento1:checked ~ div#contentdesarrolloappsmantenimiento1{
	display:block;
}
input#hidedesarrolloappsmantenimiento1:checked ~ div#contentdesarrolloappsmantenimiento1{
	display:none;
}

#showdesarrolloprotecnologocicos1,#hidedesarrolloprotecnologocicos1{
	display:none;
}
div#contentdesarrolloprotecnologocicos1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showdesarrolloprotecnologocicos1:checked ~ div#contentdesarrolloprotecnologocicos1 {
	display:block;
}
input#hidedesarrolloprotecnologocicos1:checked ~ div#contentdesarrolloprotecnologocicos1{
	display:none;
}

#showpruebascalidad1,#hidepruebascalidad1 {
	display:none;
}
div#contentpruebascalidad1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showpruebascalidad1:checked ~ div#contentpruebascalidad1 {
	display:block;
}
input#hidepruebascalidad1:checked ~ div#contentpruebascalidad1{
	display:none;
}

#showareasoporteusuario1,#hideareasoporteusuario1{
	display:none;
}
div#contentareasoporteusuario1{
	display:none;
  padding:10px;
  width:100%;
}
input#showareasoporteusuario1:checked ~ div#contentareasoporteusuario1{
	display:block;
}
input#hideareasoporteusuario1:checked ~ div#contentareasoporteusuario1{
	display:none;
}

#showsoporteusuarios1,#hidesoporteusuarios1 {
	display:none;
}
div#contentsoporteusuarios1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showsoporteusuarios1:checked ~ div#contentsoporteusuarios1{
	display:block;
}
input#hidesoporteusuarios1:checked ~ div#contentsoporteusuarios1{
	display:none;
}

#showdespliegueserviciotecnologicos1,#hidedespliegueserviciotecnologicos1 {
	display:none;
}
div#contentdespliegueserviciotecnologicos1 {
	display:none;
  padding:10px;
  width:100%;
}
input#showdespliegueserviciotecnologicos1:checked ~ div#contentdespliegueserviciotecnologicos1{
	display:block;
}
input#hidedespliegueserviciotecnologicos1:checked ~ div#contentdespliegueserviciotecnologicos1{
	display:none;
}

#showgestiontecnica1,#hidegestiontecnica1{
	display:none;
}
div#contentgestiontecnica1{
	display:none;
  padding:10px;
  width:100%;
}
input#showgestiontecnica1:checked ~ div#contentgestiontecnica1{
	display:block;
}
input#hidegestiontecnica1:checked ~ div#contentgestiontecnica1{
	display:none;
}